<div class="row col-md-12">
<h1>Posts</h1>
</div>
    <% @posts.each do |post| %>
    <div class="col-md-4">
      <div class="image">
        <%= image_tag post.photo.url(:thumb) %>
      </div>
      <div class="title">
        <h2> <%= post.title %> </h2>
      </div>
      <div class="author">
        Postado por: <strong> <%= post.user.email %> </strong>
      </div>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Você tem certeza?' } %>
      </div>
      </tr>
    <% end %>

<br>


