<div class="row col-md-12">
<h1>Listagem</h1>
</div>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag post.photo.url(:medium) %>
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text">Postado por: <strong> <%= post.user.email %> </strong></p>
          <%= link_to '<i class="fas fa-eye"></i>'.html_safe, post, class: "btn btn-sm btn-primary" %>
          <%= link_to '<i class="fas fa-trash"></i>'.html_safe, post, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-sm btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

